#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/*
 * Trackball performance & tap settings
 */
&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

 / {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <2 3>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <2 3 4>;
        };

        Toggle_Scroll {
            /* toggle SCROLL layer safely by name */
            bindings = <&tog SCROLL>;
            key-positions = <31 32>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <17 18>;
        };

        return {
            bindings = <&kp RET>;
            key-positions = <29 30>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <13 14>;
        };
    };

    /*
     * Macro used for tap-hold behavior
     */
    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to default &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    /*
     * Behaviors
     */
    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    /***********************
     * Layer-named keymap  *
     ***********************/
    keymap {
        compatible = "zmk,keymap";

        /*************
         * DEFAULT   *
         *************/
        default {
            bindings = <
&kp Q             &kp W           &kp F        &kp P             &kp B                                         &kp J             &kp L              &lt NUM U      &kp Y            &mt DOUBLE_QUOTES SQT
&mt LEFT_GUI A    &mt LEFT_ALT R  &mt LCTRL S  &mt LEFT_SHIFT T  &kp G        &kp HOME          &kp MINUS      &kp M             &mt RIGHT_SHIFT N  &mt RCTRL E    &mt RIGHT_ALT I  &mt LEFT_GUI O
&mt LEFT_SHIFT Z  &kp X           &kp C        &kp D             &kp V        &kp COLON         &kp SEMICOLON  &kp K             &kp H              &kp COMMA      &kp DOT          &mt QUESTION SLASH
&mkp MB3          &mkp MB1        &mkp MB2     &lt NUM TAB         &lt ARROW ESCAPE &lt FUNCTION SPACE  &lt layer_6 ENTER   &lt ARROW BACKSPACE                                   &lt FUNCTION DEL
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        /*************
         * FUNCTION  *
         *************/
        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&trans  &trans  &trans  &trans  &trans  &trans      &kp F13  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &kp F12  &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                          &trans
            >;
        };

        /*************
         * NUM       *
         *************/
        NUM {
            bindings = <
&kp MINUS                    &kp N7        &kp N8        &kp N9  &kp PLUS                                             &kp CARET         &kp AMPERSAND      &kp TILDE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SEMICOLON                &kp N4        &kp N5        &kp N6  &mt EQUAL PLUS     &kp LC(LA(KP_NUMBER_0))        &kp UNDERSCORE    &kp EXCLAMATION     &kp LSHFT        &kp LCTRL            &kp LALT        &kp LGUI
&mt LEFT_SHIFT KP_NUMBER_0   &kp NUMBER_1  &kp NUMBER_2  &kp N3  &kp PERIOD         &kp EQUAL                       &trans             &kp LEFT_
